							{{- define "innerContent" }}
							<section>
								<h2>{{ i18n "Editor" }}</h2>
								<p>{{ .Site.Params.editor.name }}<br />
								{{- range .Site.Params.editor.address }}
								{{ . }}<br />
								{{- end }}
								{{ .Site.Params.editor.phone }}</p>
								<h2>{{ i18n "Publication director" }}</h2>
								<p>{{ .Site.Params.publicationDirector }}</p>
								<h2>{{ i18n "Hosting company" }}</h2>
								<p>{{ .Site.Params.hostingCompany.name }}<br />
								{{- range .Site.Params.hostingCompany.address }}
								{{ . }}<br />
								{{- end }}
								{{ .Site.Params.hostingCompany.phone }}</p>
							</section>
							<section>
								{{ .Content }}
							</section>
							{{- end }}
