							{{- define "innerContent" }}
							{{- with index (where (.Resources.ByType "image") ".Params.cover" true) 0 }}
							<p><span class="image center"><img src="{{ (.Fit "1000x800").RelPermalink }}" alt="{{ .Title }}" /></span></p>
							{{- end }}
							{{ .Content }}
							<ul class="actions fit">
								<li>
									{{- with .NextInSection }}
									<a href="{{ .RelPermalink }}" class="button fit">{{ .LinkTitle }}</a>
									{{- end }}
								</li>
								<li>
									{{- with .PrevInSection }}
									<a href="{{ .RelPermalink }}" class="button fit">{{ .LinkTitle }}</a>
									{{- end }}
								</li>
							</ul>
							{{- end }}
